@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin background($image) {
	background: url(../images/#{$image}) no-repeat;
  position: absolute;
  height: auto;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: 50% 50%;
  background-size: cover;
}

@mixin center($transform) {
  position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%) $transform;
	transform: translate(-50%, -50%) $transform;
}
