@import "partials/normalize";
@import "partials/susy";
@import "partials/breakpoint";
@import "partials/parallax";
@import "partials/mixins";
@import "partials/variables";
@import "partials/reset_defaults";

@include border-box-sizing;
@include parallax-init($element: '.parallax');

.content {
	@include container(1140px);
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1;
	font-size: 100%;
	overflow-y: hidden;
  background-color: $black;
}

h1, h2 {
  font-weight: 100;
	font-size: 3rem;
	color: $primary;
}

@include breakpoint($destop) {
  h1, h2{
    font-size: 5rem;
  }
}

h3 {
  text-align: left;
  font-size: 1.3rem;
  margin-bottom: .7rem;
  margin-left: .6rem;
  margin: 4rem 0 .7rem .6rem;
  font-weight: 500;

  &:first-child {
    margin-top: 0;
  }
}

p {
	text-align: left;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	line-height: 1.4;
	font-size: 1.2rem;
	color: #0d0d0d;
	word-spacing: 2px;
}

.parallax {
	position: fixed;
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

.navbar {
	position: fixed;
	width: 100%;
	height: 56px;
	z-index: 999;
	background-color: rgba(0,0,0,0.3);

	.navbar-content {
		max-width: 1140px;
		margin: 0 auto;

		.brand {
			float: left;
			padding-left: 1.8rem;
			padding-right: 1.8rem;
			height: 56px;
			line-height: 56px;
      color: $white;
			font-weight: 500;
			text-decoration: none;
		}

		#nav {
			button {
				position: relative;
				top: -8px;
				left: -8px;
				visibility: hidden;
        display: none;
				height: 56px;
				width: 100%;
				border: none;
				font-weight: 500;
				color: $white;
				background-color: rgba(0,0,0,0);
				text-align: left;
				padding-left: 1.8rem;

				&:focus {
					outline:0;
				}
			}

			#home-btn {
				background-color: rgba(0,0,0,0.4);
			}
		}

		.collapse-btn {
			margin-right: 30px;
			margin-top: 10px;
			height: 36px;
			width: 	46px;
			float: right;
      padding: 0 5px;
			border-radius: 5px;
			background-color: rgba(255,255,255,0);
			border: 1px solid #c8c8c8;

			.collapse-line {
				border: 1px solid #a7a7a7;
				margin: 4px 4px;
			}

			&:focus {
				outline: 0;
			}
		}
	}

	@include breakpoint($destop) {
		.navbar-content {
			height: 100%;

			.brand {
				cursor: pointer;
			}

			#nav {
				float: right;
				height: 100%;
				visibility: visible !important;
				opacity: 1 !important;

				button {
					position: relative;
					top: 0;
					left: 0;
					opacity: 1 !important;
					visibility: visible !important;
          display: inline !important;
					width: auto;
					padding-right: 1.8rem;
					cursor: pointer;
				}

				#home-btn {
					background-color: rgba(0,0,0,0.4);
				}
			}

			.collapse-btn {
				display: none;
			}
		}
	}
}

.page {
  position: relative; // Solves chrome z-index bug
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);
}

.content {
	position: relative;
	text-align: center;
	height: 100%;
}

#page1 {
	height: 100%;
	z-index: 0;

  .background {
    visibility: hidden;
    @include parallax(-.3);
  }

	#bckg1 {
		@include background("space2.jpg");
	}

	#bckg2 {
		@include background("space1.jpg");
	}

	#bckg3 {
		@include background("nasa_cosmonaut_v6.jpg");
    bottom: -300px;
    top: auto;
    min-height: 2251px;

    @include breakpoint($destop) {
      bottom: 0;
    }
	}

	.home-page-btn {
    position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 80%;
		width: 170px;
		height: 45px;
		background-color: rgba(0,0,0,0.4);
		border-radius: 5px;
		border: solid 1px $white;

    cursor: pointer;

		.arrow {
      @include center (scale(1.6));
      fill: none;
      stroke: $white;
      stroke-width: 1;
		}
	}

  @include breakpoint($destop) {
    .home-page-btn {
      width: 350px;
      height: 60px;
      top: 80%;

      .arrow {
        @include center (scale(2));
      }
    }
  }
}

#page2 {
	z-index: 1;

	.portfolio  {
  	text-align: center;

		overflow: hidden;
		-webkit-overflow-scrolling: touch;
    background-color: $background-color;

    h2 {
      padding: 3rem 10%;
    }

    @include breakpoint($destop) {
      h2 {
        padding: 7rem 10%;
      }
    }

    .portfolio-mobile-links {
      a {
        display: block;
        width: 100%;
        height: 200px;
        text-align: left;
      }
    }

    .portfolio-mobile-img {
      @include background("work2.jpg");
    }

    @include breakpoint($destop) {
      .portfolio-mobile-links {
        display: none;
      }
    }

    .potfolio-img {
      width: 100%;
      height: auto;
    }

    .overlay {
      visibility: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .visitBtn {
			visibility: hidden;
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			top: 75%;
			height: 3.5rem;
			width: 12rem;
			background-color: rgba(0, 0, 0, 0);
			border: 2px solid $white;
			border-radius: 3px;

			.btnText {
				position: absolute;

				left: 50%;
				top: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);

				color: $white;
				font-weight: 400;
				font-size: 1.5rem;
			}

			.buttonIcon {
				visibility: hidden;

				position: absolute;

				left: 50%;
				top: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);

				color: $white;
				font-size: 1.2rem;
			}
		}

		.wrap {
			display: none;
			@include span(12 of 12);

			@include breakpoint($destop) {
        display: block;
        position: relative;
			  @include span(6 of 12);
			}
		}
	}
}

#page3 {
  background-color: $background-color;
	z-index: 1;

  .bio {
    width: 100%;
    padding: 3rem 1.8rem;

    h2 {
      margin-bottom: 1.5rem;
    }
  }

  @include breakpoint($destop) {
    .bio {
      padding: 7rem 15%;
    }

    h2 {
      margin-bottom: 3rem;
    }
  }
}

#page4 {
	height: 100%;
	z-index: 0;

	.background {
		@include background("second.jpg");
    @include parallax(-.3);
	}
}

footer {
  text-align: center;
  padding: 5rem 0 4rem 0;
	z-index: 1;
	background-color: $background-color;

  span {
    color: #0d0d0d;
    word-spacing: 1px;
    font-weight: 100;
  }
}
